.Footer{

        height: 50px;
        background-color: #d03947;
        color: #ebd348;
        text-align: center;
        padding-top: 10px;
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 20px;
      }

      
      
 